<a href="https://colab.research.google.com/github/ahmedynah/Epsilon-AI/blob/main/00_problems_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 2 Write a Python program to get the Python version you are using.

In [3]:
import sys
print("Python version")
# answer here
print(sys.version)
print("Version info.")
# answer here
print(sys.version_info)

Python version
3.7.11 (default, Jul  3 2021, 18:01:19)
[GCC 7.5.0]
Version info.
sys.version_info(major=3, minor=7, micro=11, releaselevel='final', serial=0)

## 3 Write a Python program to display the current date and time.

In [18]:
import datetime

print('The current time is :')
# answer here
print(datetime.datetime.now().time())

The current time is :
20:46:44.450322

## 4 Write a Python program which accepts the radius of a circle from the user and compute the area.

In [19]:
from math import pi
#can you figer out how to use the pi imported from math library ?
r = float(input('enter the radius:'))
# answer here
print(f"The area of the circle with radius {r} is {pi*r**2}")

enter the radius:89
The area of the circle with radius 89.0 is 24884.55540908475

## 5 Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

In [21]:
fname = input('enter your first name :')
sname = input('enter your second name :')
# answer here Note you may want use .format method here is a hint:
v1=1
v2=2
print("variable1 will print here{} vaiable2 will print here{}".format(v1,v2)) 
print("{1} {0}".format(fname,sname))

enter your first name :koko
enter your second name :elda3eef
variable1 will print here1 vaiable2 will print here2
elda3eef koko

## 6 Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers.

In [22]:
values = input('enter different numbers :')
"""
note .split method will take the user input and create a list of all the
values separated by comma Try it out !!
"""
# answer here
l = values.split(',') 
t = tuple(l)
print(t,l)

enter different numbers :1,2,3,4,5,6,7
('1', '2', '3', '4', '5', '6', '7') ['1', '2', '3', '4', '5', '6', '7']

## note the following technique and study it will

In [23]:
seq=input("Enter numbers separated by commas:").split(",")
print("List: {}\nTuple: {}".format(seq,tuple(seq)))

Enter numbers separated by commas:1,2,3,4,5,6,7
List: ['1', '2', '3', '4', '5', '6', '7']
Tuple: ('1', '2', '3', '4', '5', '6', '7')

## 7 Write a Python program to accept a filename from the user and print the extension of that.

In [24]:
fn=(input("")).split(".")
#fn is now a list can you print only the extension
print(fn[1])

hamada.txt
txt

## 8 Write a Python program to display the first and last colors from the following list.

In [25]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0], " ", color_list[-1])

Red   Black

## 9 Write a Python program to display the examination schedule. (extract the date from exam_st_date).

In [26]:
exam_st_date = (11,12,2014)
print('the examination will strat from : {} '.format(exam_st_date))

the examination will strat from : (11, 12, 2014)

## 10 Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.

In [27]:
a = int(input('enter a num :'))
print(f"{a+a**2+a**3}")

enter a num :5
155

In [28]:
# perfect
n1 = input("Input an integer :")
x = int(n1) * 123
print(x)

Input an integer :5
615

## 11 Write a Python program to print the documents (syntax, description etc.) of Python built-in function(s).

In [31]:
print(abs.__doc__)
print(sorted.__doc__)
print(max.__doc__)

Return the absolute value of the argument.
Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.
max(iterable, *[, default=obj, key=func]) -> value
max(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its biggest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the largest argument.

## 12 Write a Python program to print the calendar of a given month and year.

In [32]:
import calendar
y=int(input('enter the year :'))
m=int(input('enter the month :'))
print(calendar.month(y,m))

enter the year :1998
enter the month :8
    August 1998
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [33]:
print(calendar.month(2020,8))

    August 2020
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [ ]:
'''
Write a Python program to print the following 'here document'.

Sample string:
a string that you "don't" have to escape
This
is a ....... multi-line
heredoc string --------> example
'''
print(" Sample string:\n astring that you 'don't have to escape \n This \n is a ....... multi-line\n herdoc string-----------> example")

In [34]:
print("""
astring that you "don't" have to escape
this
is a .......... multi-line
herdoc string-------> example""")

astring that you "don't" have to escape
this
is a .......... multi-line
herdoc string-------> example

## 14 Write a Python program to calculate number of days between two dates.

In [35]:
from datetime import date
first_date=date(2020,3,22)
second_date=date(2020,7,19)
delta = second_date-first_date
print(delta.days)

119

## 15 Write a Python program to get the the volume of a sphere with radius 6.

In [ ]:
pi=3.14
r=6
v=4/3*pi*r**3
print('the volume is :', v)

## 16 Write a Python program to get the difference between a given number and 17, if the number is greater than 17 return double the absolute difference.

In [ ]:
def diffrence(n):
    if n <= 17:
        return 17-n
    else:
        return (n-17)*2
diffrence(14)


## 17 Write a Python program to test whether a number is within 100 of 1000 or 2000.

In [ ]:
def difference(n):
    return abs(1000-n) <= 100 or abs(2000-n) <=100
difference(6)

In [ ]:
x=int(input("Enter a number: "))
if x in range(900,1001) or x in range(1900,2001):
    print("True")
else:
    print("False")

## 18 Write a Python program to calculate the sum of three given numbers, if the values are equal then return thrice of their sum.

In [ ]:
def summ(n1,n2,n3):
    if n1 == n2 ==n3:
        return (n1+n2+n3)*3
    else:
        return n1+n2+n3
summ(6,6,6)

## 19 Write a Python program to get a new string from a given string where "Is" has been added to the front. If the given string already begins with "Is" then return the string unchanged. Go to the editor

In [ ]:
def word(str):
    if str[:2] == 'is':
        return str
    else:
        return 'is'+str
word('array')

In [ ]:
def NewString(str):
    if len(str) >= 2 and str[0:2]=='Is':
        return str
    return 'is'+str
NewString('Isarray')

## 20 Write a Python program to get a string which is n (non-negative integer) copies of a given string.

In [37]:
def largerString(str, n):
    result=""
    for i in range(n):
        result = result + str
    return result
largerString('bola ', 4)

'bola bola bola bola '

## 21 Write a Python program to find whether a given number (accept from the user) is even or odd, print out an appropriate message to the user.

In [ ]:
num = int(input('enter a number :'))
if num % 2==0:
    print('the number you entered is an even number')
else:
    print('the number you entered is an odd number')

In [ ]:
def count_num_4(*args):
    lists = [i for i in args]
    return lists.count(4)
count_num_4(3,4,7,4,2,7)

In [ ]:
def count_num_4(nums):
    count=0
    for i in nums:
        if i==4:
            count=count+1
    return count
count_num_4([4,3,6,8,7,9,4,8,4])

## 23 Write a Python program to get the n (non-negative integer) copies of the first 2 characters of a given string. Return the n copies of the whole string if the length is less than 2.

In [ ]:
def substring_copy(str, n):
    flen = 2
    if flen > len(str):
        flen = len(str)
    substr = str[:flen]
  
    result = ""
    for i in range(n):
        result = result + substr
    return result
print(substring_copy('abcdef', 2))
print(substring_copy('p', 3));
print(substring_copy('muythgrdf', 1));

In [38]:
#perfect
word = input("Enter text:")
copys = int(input("Enter copy:"))
print(word[0:2]*copys)

Enter text:hello world
Enter copy:5
hehehehehe

## 24 Write a Python program to test whether a passed letter is a vowel or not.

In [ ]:
def is_vowel(char):
    all_vowel='aeiou'
    return char in all_vowel
is_vowel('l')

## 25 Write a Python program to check whether a specified value is contained in a group of values.

In [ ]:
def values(*args):
    lists=[i for i in args]
    n=int(input())
    return n in lists
values(2,3,4,5,6,7)

In [ ]:
def find_value(values, value):
    if value in values:
        return True
    else:
        return False
find_value([2,3,4,5,6,7,8,9],4)

In [ ]:
def values(nums):
    num=int(input('enter a num :'))
    return num in nums
values([4,5,2,4,6])

In [ ]:
def values(groupOfValues,n):
    for i in groupOfValues:
        if n ==i:
            return True
    return False
values([2,4,5,6,7,8,9,0],4)

In [ ]:
def is_group_member(group_data, n):
    for value in group_data:
        if n == value:
            return True
    return False
print(is_group_member([1, 5, 8, 3], 3))
print(is_group_member([5, 8, 3], -1))

## 26 Write a Python program to create a histogram from a given list of integers.

In [ ]:
def histogram(*args):
    n=[o for o in args]
    for i in n:
        for m in range(i):
            print('@',end="")
        print()
histogram(2,3,6,5)

In [ ]:
lst=[1,2,3,4,5,6,7,8,9]
for i in lst:
    for m in range(i):
        print('*',end='')
    print()

In [ ]:
def histogram( items ):
    for n in items:
        output = ''
        times = n
        while( times > 0 ):
            output += '*'
            times = times - 1
        print(output)

histogram([2, 3, 6, 5])

In [ ]:
def concat(*args):
    for n in args:
        return sum(args)
concat(2,3,4,5,6,7)

## 27 Write a Python program to concatenate all elements in a list into a string and return it.

In [ ]:
def concat(list):
    result=''
    for element in list:
        result += str(element)
    return result
print(concat([2,3,4,5,6,7]))

In [ ]:
def concatenate_list_data(list):
    result= ''
    for element in list:
        result += str(element)
    return result

print(concatenate_list_data([1, 5, 14, 2]))

In [ ]:
li=[2,3,3,34]
st="".join(str(i) for i in li )
print(st)

## 29 Write a Python program to print out all even numbers from a given numbers list in the same order and stop the printing if any numbers that come after 237 in the sequence.

In [ ]:
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]

for x in numbers:
    if x == 237:
        print(x)
        break;
    elif x % 2 == 0:
        print(x)

In [ ]:
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]
for num in numbers:
    if num == 237:
        print (237)
        break
    elif num%2==0:
        print(num)

## 29 Write a Python program to print out a set containing all the colors from color_list_1 which are not present in color_list_2.

In [ ]:
def color(lst1,lst2):
    for i in lst1:
        if i not in lst2:
            print(i)
color(['red','blue','green','white'],['black','yellow','gray','blue'])

In [ ]:
color_lst1=set(['black','white','blue'])
color_lst2=set(['red','green','blck','white'])
print(color_lst1.difference(color_lst2))

## 30 Write a Python program that will accept the base and height of a triangle and compute the area.

In [ ]:
def triangle(base,height):
    print('area is',(base*height)/2)
triangle(8,5)

## 31 Write a Python program to compute the greatest common divisor (GCD) of two positive integers.

In [ ]:
def gcd(x, y):
    gcd = 1
    
    if x % y == 0:
        return y
    
    for k in range(int(y / 2), 0, -1):
        if x % k == 0 and y % k == 0:
            gcd = k
            break  
    return gcd

print(gcd(12, 17))
print(gcd(12, 6))

In [ ]:
from math import gcd
def GCD(*num):
    return gcd(*num)
GCD(12,6)

In [ ]:
def gcd(a,b):
    for i in range(1,max(a,b)+1):
        if (a%i==0) and (b%i==0):
            m = i
    return m
gcd(12,15)

In [ ]:
def gcd(a,b):
    for i in range(1,max(a,b)+1):
        if a%i==0 and b%i==0:
            m=i
    return m
gcd(12,15)

## 32 Write a Python program to get the least common multiple (LCM) of two positive integers.

In [ ]:
def lcm(x, y):
    if x > y:
        z = x
    else:
        z = y

    while True:
        if (z % x == 0) and (z % y == 0):
            lcm = z
            break
        z += 1

    return lcm
lcm(15, 13)

In [ ]:
def lcm(a,b):
    for i in range(1,a*b+1):
        if i%a == 0 and i%b == 0 :
            break
    print("lcm of two numbers:",i)
lcm(15,12)

##  33 Write a Python program to sum of three given integers. However, if two values are equal sum will be zero.

In [ ]:
def sum(x,y,z):
    if x==y or x==z or y==z:
        sum =0
    else:
        sum = x+y+z
    return sum
sum(2,4,2)

## 34 Write a Python program to sum of two given integers. However, if the sum is between 15 to 20 it will return 20.

In [ ]:
def sum(x,y):
    sum = x+y
    if sum in range(15-20):
        return 20
    else:
        return sum
sum(12,9)

In [ ]:
def mmm(x,y):
    if x+y >15 and x+y <20:
        return 20
    else:
        return x+y
mmm(15,11)

## 35 Write a Python program which will return true if the two given integer values are equal or their sum or difference is 5.

In [ ]:
def integer(x,y):
    if x==y or abs(x+y)==5 or x-y==5:
        return True
    else:
        return False
integer(-8,3)

## 36 Write a Python program to add two objects if both objects are an integer type.

In [44]:
def add_numbers(a, b):
    if not (isinstance(a, int)) and (isinstance(b, int)):
         raise TypeError("Inputs must be integers")
    return a + b

add_numbers(10, 20)

30

In [45]:
def add_obj(x,y):
    if type(x)==int and type(y)==int:
        print(x+y)
    return None
print(add_obj(2,3))

5
None

In [46]:
def add_two_obj(a,b):
    if (isinstance(a,int) and isinstance(b,int)):
        return a +b
    else:
        raise TypeError('must be integers')
add_two_obj(5,8)

13

## 37 Write a Python program to display your details like name, age, address in three different lines.

In [ ]:
def details(name,age,adress):
    print(f'your name is {name} \nyour age is {age}\nyour adress is {adress}')
details('mina',25,'sohag')

## 38 Write a Python program to solve (x + y) * (x + y).

In [ ]:
def prog(x,y):
    print(f'({x} + {y}) * ({x} + {y}) = ',(x + y)*(x+y))
prog(9,3)

## 39 Write a Python program to compute the future value of a specified principal amount, rate of interest, and a number of years.

In [ ]:
amt = 10000
int = 3.5
years = 7

future_value  = amt*((1+(0.01*int)) ** years)
print(round(future_value,2))

## 40 Write a Python program to compute the distance between the points (x1, y1) and (x2, y2).

In [ ]:
import math
p1 = [8, 9]
p2 = [6, 4]
distance = math.sqrt( ((p1[0]-p2[0])**2)+((p1[1]-p2[1])**2) )
print(distance)

## 41 Write a Python program to check whether a file exists.

In [43]:
import os.path
#open('abc.txt', 'w')
print(os.path.isfile('abc.txt'))

False

## 42 Write a Python program to determine whether a Python shell is executing in 32bit or 64bit mode on OS?

In [42]:
import struct
print(struct.calcsize("P") * 8)

64

## 43 Write a Python program to get OS name, platform and release information.

In [41]:
import platform
import os
print(os.name)
print(platform.system())

posix
Linux

## 44 Write a Python program to locate Python site-packages.

In [40]:
import site
site.getsitepackages()

['/usr/local/lib/python3.7/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/lib/python3.7/dist-packages']

## 48 Write a Python program to parse a string to Float or Integer.

In [ ]:
n = "246.2458"
print(float(n))
print(int(float(n)))

## 49 Write a Python program to list all files in a directory in Python.

In [39]:
from os import listdir
from os.path import isfile, join
files_list = [f for f in listdir('ayam el kolia') if isfile(join('ayam el kolia', f))]
files_list

FileNotFoundError: ignored

## 50 Write a Python program to print without newline or space?

In [ ]:
for i in range(0, 10):
    print('*', end="")