<a href="https://colab.research.google.com/github/ahmedynah/Epsilon-AI/blob/main/05_Statements_Assessment_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Statements Assessment Test
Let's test your knowledge!

**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [8]:
st = 'Print only the words that start with s in this sentence'

In [10]:
#Code here
for word in st.split(" "):
  if(word.startswith("s")):
    print(word)

## the above code assumes that one letter like " a" or "s" is considered a word
## if not here is another solution
print("-----------------")
for word in st.split(" "):
  if(word.startswith("s") and len(word) > 1):
    print(word)

start
s
sentence
-----------------
start
sentence

______
**Use range() to print all the even numbers from 0 to 10.**

In [11]:
#Code Here
for i in range(0,11,2):
  print(i)

0
2
4
6
8
10

___
**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [12]:
#Code in this cell
l2 = [number for number in range(1,51) if number %3 == 0]
print(l2)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

_____
**Go through the string below and if the length of a word is even print "even!"**

In [14]:
st = 'Print every word in this sentence that has an even number of letters'

In [12]:
#Code in this cell
for w in st.split(" "):
  if(len(w) %2 == 0):
    print(f"{w} is even")

word is even
in is even
this is even
sentence is even
that is even
an is even
even is even
number is even
of is even

____
**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

In [15]:
#Code in this cell
for i in range(1,100):
  if( i%3==0 and i%5 == 0 ):
    print("FizzBuzz")
  elif (i%3==0):
    print("Fizz")
  elif (i%5 == 0 ):
    print("Buzz")
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

____
**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [1]:
st = 'Create a list of the first letters of every word in this string'

In [3]:
#Code in this cell
l1 = [word[0] for word in st.split(" ")]
print(l1)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

### Great Job!