<a href="https://colab.research.google.com/github/ahmedynah/Epsilon-AI/blob/main/10_Objects_and_Data_Structures_Assessment_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objects and Data Structures Assessment Test

## Test your knowledge. 

**Answer the following questions**

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: there are 3 different types of numbers in python... integers, floating-point numbers, and complex number

Strings: once created, it can not be tampered ( you can't delete a chracter from the string)

Lists: mutable data structure.. can hold different kind of data structures.. can be accessed by integer indexs

Tuples: immutable data structure ... can contain any different types of data ... faster than lists as the tuple implmentation is much quicker

Dictionaries: a pair of key and value data structure that each key is representing certain value... keys are also used as indexs... dictionaries themselves are mutable so that keys and values can be added, however keys themselves are immutable.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
ans = (10 ** 3 / 100) * 10 + 1 - 0.75
ans

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)? 44
    
    What is the value of the expression 4 * 6 + 5 ? 29
    
    What is the value of the expression 4 + 6 * 5 ? 34

In [3]:
print(4 * (6 + 5)," ",4 * 6 + 5," ",4 + 6 * 5 )

44   29   34

float

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>float

What would you use to find a numberâ€™s square root, as well as its square?

In [1]:
# Square root:
import math 
x = int(input())
print(x**0.5)
print(math.sqrt(x))

100
10.0
10.0

In [8]:
# Square:
x = int(input())
print(x**2)
print(math.pow(x,2))

10
100
100.0

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [2]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

Reverse the string 'hello' using slicing: 
#Very important note about slicing

In [15]:
s ='hello'
# Reverse the string using slicing

print(s[::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [16]:
s ='hello'
# Print out the 'o'
# Method 1:
print(s[-1])

o

In [17]:
# Method 2:
print(s[len(s)-1])

o

## Lists

Build this list [0,0,0] two separate ways.
#Note about list and how it works with operators

In [18]:
# Method 1:
l = []
l.extend([0,0,0])
l

[0, 0, 0]

In [24]:
# Method 2:
l.clear()
print(l)
l=[0 for i in range(3)]
print(l)
l.clear()
print(l)
l = [0]*3
print(l)

[]
[0, 0, 0]
[]
[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [26]:
list3 = [1,2,[3,4,'hello']]

list3[2][2] = "goodbye"
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [30]:
list4 = [5,3,4,6,1]
list4.sort()
print(f"sorted ascendingly: {list4}")
print(f"sorted descendingly: {list4[::-1]}")
list4.reverse()
print(f"sorted descendingly: {list4}")

sorted ascendingly: [1, 3, 4, 5, 6]
sorted descendingly: [6, 5, 4, 3, 1]
sorted descendingly: [6, 5, 4, 3, 1]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [31]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d['simple_key'])

hello

In [32]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d['k1']['k2'])

hello

In [34]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
print(d['k1'][0]['nest_key'][1][0])

hello

In [35]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
print(d['k1'][2]['k2'][1]['tough'][2][0])

hello

Can you sort a dictionary? Why or why not?<br><br>
yes.. keys can be sorted by keys or by values using the built in function sorted()see the link below: https://www.geeksforgeeks.org/python-sort-python-dictionaries-by-key-or-value/

## Tuples

What is the major difference between tuples and lists?<br><br>
tubles are immutable whereas lists are not

How do you create a tuple?<br><br>
using peranthis ---> ()

## Sets

What is unique about a set?<br><br>
no repeated elements, and immutable

Use a set to find the unique values of the list below:

In [38]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set1 = set(list5)
print(set1)

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [39]:
# Answer before running cell
2 > 3
#False

False

In [41]:
# Answer before running cell
3 <= 2
#False

False

In [42]:
# Answer before running cell
3 == 2.0
#False

False

In [45]:
# Answer before running cell
3.0 == 3
#True

True

In [46]:
# Answer before running cell
4**0.5 != 2
#False

False

Final Question: What is the boolean output of the cell block below?

In [49]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']
#false

False

# Great Work!