<a href="https://colab.research.google.com/github/ahmedynah/Epsilon-AI/blob/main/Banking_System_using_OOP_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [152]:
class User:
  def __init__(self, name, age, gender):
    self.__name = name
    self.__age = age
    self.__gender = gender
  
  def __str__(self):
      return f'Client\'s Info:{chr(10)}--------------{chr(10)}Name: {self.__name} {chr(10)}Age: {self.__age} {chr(10)}Gender: {self.__gender}'

  def set_name(self, name):
    
    '''
    updates the name

    Parameters:
        self (object):The created object itself
        name (str): the client's name
    '''
    for i in name.split():
      if not i.isalpha():
        print("Please, Character only allowed. The name '{0}' is not allowed".format(i))
        break
    else:
       print("Name is updated Successfully!", name)
       self.__name = name
       



  def get_name(self):
    
    '''
    returns the name

    Parameters:
        self (object):The created object itself
    '''
    return self.__name
  
  def set_gender(self, gender):
    
    '''
    updates the gender

    Parameters:
        self (object):The created object itself
       gender (str): the client's gender
    '''
    try:
      if gender.lower() == "male" or gender.lower() == "female":
        self.__gender = gender.lower()
      else:
        print("Please, choose between male or female.")
        return
    except:
      print("Please, only alphabtic characters allowed")
    else:
      print("Gender is updated Successfully!")

  def get_gender(self):
    
    '''
    returns the gender

    Parameters:
        self (object):The created object itself
    '''
    return self.__gender
  
  def set_age(self, age):
        
    '''
    updates the age

    Parameters:
        self (object):The created object itself
        age (int): the client's age
    '''
    try:
      if age > 0:
        self.__age = age
      else:
        print("Please, enter a valid age")
    except:
      print("Please, only numbers allowed")
    else:
      print("Age is updated Successfully!")

  def get_age(self):
        
    '''
    returns the age

    Parameters:
        self (object):The created object itself

    '''
    return self.__age

In [153]:
client1 = User("Ahmed Hany", 23, "Male")

In [154]:
client1.set_name("Ahmed Hany 2012")
client1.set_name("Ahmed Hany Hassan")
print(client1.get_name())

Please, Character only allowed. The name '2012' is not allowed
Name is updated Successfully! Ahmed Hany Hassan
Ahmed Hany Hassan

In [155]:
client1.set_age("25")
client1.set_age(25)
print(client1.get_age())

Please, only numbers allowed
Age is updated Successfully!
25

In [156]:
# client1.set_gender("l")
client1.set_gender("Male")
print(client1.get_gender())

Gender is updated Successfully!
male

In [157]:
print(client1)

Client's Info:
--------------
Name: Ahmed Hany Hassan
Age: 25
Gender: male

In [194]:
class Bank(User):
  def __init__(self, name, gender, age):
    self.__client = User(name,age,gender)
    self.__balance = 0

  def get_balance(self):
    '''
    returns the current balance
    '''
    return self.__balance

  def deposite(self, amount):
    '''
    adds amount of money to the account balance

    parameters:
          amount (float): the amount to be added
    '''
    try:
      if amount > 0:
        self.__balance += amount
        print(f"Successfully added {amount}$ to the account!")
      else:
        print("Please, enter a valid deposite!")
    except:
      print("Only numeric values are accepted!")


  def withdraw (self, amount):
    '''
    subtract amount of money from the account balance

    parameters:
          amount (float): the amount to be subtracted
    '''
    try:
      if amount > self.__balance:
        print(f"No enough money in the account, only {self.__balance}$ left!")
      else:
        self.__balance -= amount
        print(f"{amount}$ withdrawn successfully from your account, your current balance is : {self.__balance}")
    except:
      print("Only numeric values are accepted!")

  def __str__(self):
    return str(self.__client) + "\n" + "Balance: " + str(self.__balance)

In [195]:
account1 = Bank("Ahmed", "Male", 25)

In [196]:
print(account1)

Client's Info:
--------------
Name: Ahmed
Age: 25
Gender: Male
Balance: 0

In [197]:
account1.get_balance()

0

In [198]:
account1.withdraw(100)

No enough money in the account, only 0$ left!

In [200]:
account1.withdraw("k")

Only numeric values are accepted!

In [199]:
account1.deposite(9999999)

Successfully added 9999999$ to the account!

In [193]:
account1.deposite("l")

Only numeric values are accepted!

In [201]:
account1.withdraw(255)

255$ withdrawn successfully from your account, your current balance is : 9999744

In [202]:
print(account1)

Client's Info:
--------------
Name: Ahmed
Age: 25
Gender: Male
Balance: 9999744