<a href="https://colab.research.google.com/github/ahmedynah/Epsilon-AI/blob/main/Banking_System_using_OOP_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
class User:
  def __init__(self, name, age, gender):
    self.__name = name
    self.__age = age
    self.__gender = gender
  
  def __str__(self):
      return f'Client\'s Info:{chr(10)}--------------{chr(10)}Name: {self.__name} {chr(10)}Age: {self.__age} {chr(10)}Gender: {self.__gender}'

  def set_name(self, name):
    
    '''
    updates the name

    Parameters:
        self (object):The created object itself
        name (str): the client's name
    '''
    for i in name.split():
      if not i.isalpha():
        print("Please, Character only allowed. The name '{0}' is not allowed".format(i))
        break
    else:
       print("Name is updated Successfully!", name)
       self.__name = name
       



  def get_name(self):
    
    '''
    returns the name

    Parameters:
        self (object):The created object itself
    '''
    return self.__name
  
  def set_gender(self, gender):
    
    '''
    updates the gender

    Parameters:
        self (object):The created object itself
       gender (str): the client's gender
    '''
    try:
      if gender.lower() == "male" or gender.lower() == "female":
        self.__gender = gender.lower()
      else:
        print("Please, choose between male or female.")
        return
    except:
      print("Please, only alphabtic characters allowed")
    else:
      print("Gender is updated Successfully!")

  def get_gender(self):
    
    '''
    returns the gender

    Parameters:
        self (object):The created object itself
    '''
    return self.__gender
  
  def set_age(self, age):
        
    '''
    updates the age

    Parameters:
        self (object):The created object itself
        age (int): the client's age
    '''
    try:
      if age > 0:
        self.__age = age
      else:
        print("Please, enter a valid age")
    except:
      print("Please, only numbers allowed")
    else:
      print("Age is updated Successfully!")

  def get_age(self):
        
    '''
    returns the age

    Parameters:
        self (object):The created object itself

    '''
    return self.__age

In [15]:
client1 = User("Ahmed Hany", 23, "Male")

In [16]:
client1.set_name("Ahmed Hany 2012")
client1.set_name("Ahmed Hany Hassan")
print(client1.get_name())

Please, Character only allowed. The name '2012' is not allowed
Name is updated Successfully! Ahmed Hany Hassan
Ahmed Hany Hassan

In [17]:
client1.set_age("25")
client1.set_age(25)
print(client1.get_age())

Please, only numbers allowed
Age is updated Successfully!
25

In [18]:
# client1.set_gender("l")
client1.set_gender("Male")
print(client1.get_gender())

Gender is updated Successfully!
male

In [19]:
print(client1)

Client's Info:
--------------
Name: Ahmed Hany Hassan
Age: 25
Gender: male

In [102]:
class Bank(User):
  current_ID = 0
  def __init__(self, name, gender, age, password):
    self.__client = User(name,age,gender)
    self.__balance = 0
    self.__ID = self.current_ID
    self.set_password(password)
    print(f"Account Created Successfully with ID : {self.current_ID}!")
    self.current_ID += 1


  def get_ID(self):
    '''
    returns the current balance
    '''
    return self.__ID

  def set_password(self, password):
    if len(password) > 4 and len(password) < 16:
      self.__password = password
    else:
      print("Enter a valid password length!")
    

  def get_pass(self):
    '''
    returns the current balance
    '''
    return self.__password

  def get_balance(self):
    '''
    returns the current balance
    '''
    return self.__balance

  def deposite(self, amount):
    '''
    adds amount of money to the account balance

    parameters:
          amount (float): the amount to be added
    '''
    try:
      if amount > 0:
        self.__balance += amount
        print(f"Successfully added {amount}$ to the account!")
      else:
        print("Please, enter a valid deposite!")
    except:
      print("Only numeric values are accepted!")


  def withdraw (self, amount):
    '''
    subtract amount of money from the account balance

    parameters:
          amount (float): the amount to be subtracted
    '''
    try:
      if amount > self.__balance:
        print(f"No enough money in the account, only {self.__balance}$ left!")
      else:
        self.__balance -= amount
        print(f"{amount}$ withdrawn successfully from your account, your current balance is : {self.__balance}")
    except:
      print("Only numeric values are accepted!")

  def __str__(self):
    return str(self.__client) + "\n" + "ID: " + str(self.__ID) + "\n" + "Balance: " + str(self.__balance)

In [103]:
instructions = """
1 to show all details account 
2 to show account balance 
3 to withdraw 
4 to deposit 

0 to log out\n---------\n"""

In [104]:
def create_new_account():
    name = input("Enter your Full name: ")
    gender = input("Male or Female? ")
    age = int(input("Enter your Age: i.e. no decimal just integer: "))
    password = input("Enter password: ")
    account0 = Bank(name, gender, age, password)
    Bank.current_ID += 1
    return account0

In [105]:
def check_credentials (id, password, accounts):
  for (i, j) in accounts:
      if i() == id and j() == password:
        return True
  else:
    return False

In [109]:
def do_operation (number, account):
  if  number == 1:
    print(account)
  elif number == 2:
    print(account.get_balance())
  elif number == 3:
    am0 = float(input("Enter the amount to withdraw : "))
    print(account.withdraw(am0))
  elif number == 4:
    am1 = float(input("Enter the amount to deposite: "))
    print(account.deposite(am1))

In [110]:
def main():
  accounts = []
  while (True):
    # try:
      if input("Create New Account? Y/N: ").lower() == "y":
       account0 = create_new_account()
       accounts.append((account0.get_ID, account0.get_pass))
      else:
        if input("Log in? Y/N: ").lower() == 'y':
          while (True):
                print("\n New operation\n------------\n")
                if check_credentials(int(input("Enter your ID: ")), input("Enter password: "), accounts):
                  inst = int(input(instructions))
                  if inst == 0:
                    print("Logged Out")
                    break
                  else:
                    do_operation(inst, account0)
                else:
                  print("wrong credentials")
                  break
        else:
          if not int(input("0 to exit the system: ")):
            break
    # except:
    #   print("please enter Y or N only!", type(e))

In [111]:
main()

Create New Account? Y/N: y
Enter your Full name: ahmed hany
Male or Female? male
Enter your Age: i.e. no decimal just integer: 25
Enter password: 123456
Account Created Successfully with ID : 1!
Create New Account? Y/N: n
Log in? Y/N: Y

 New operation
------------

Enter your ID: 1
Enter password: 123456
1 123456

1 to show all details account
2 to show account balance
3 to withdraw
4 to deposit

0 to log out
---------
4
Enter the amount to deposite: 1000
Successfully added 1000.0$ to the account!
None

 New operation
------------

Enter your ID: 1
Enter password: 123456
1 123456

1 to show all details account
2 to show account balance
3 to withdraw
4 to deposit

0 to log out
---------
1
Client's Info:
--------------
Name: ahmed hany
Age: 25
Gender: male
ID: 1
Balance: 1000.0

 New operation
------------

Enter your ID: 0
Enter password: 123456
1 123456
wrong credentials
Create New Account? Y/N: y
Enter your Full name: hamasa
Male or Female? male
Enter your Age: i.e. no decimal just integer: 12
Enter password: 123456
Account Created Successfully with ID : 2!
Create New Account? Y/N: n
Log in? Y/N: y

 New operation
------------

Enter your ID: 2
Enter password: 123456
1 123456
2 123456

1 to show all details account
2 to show account balance
3 to withdraw
4 to deposit

0 to log out
---------
4
Enter the amount to deposite: 1000000
Successfully added 1000000.0$ to the account!
None

 New operation
------------

Enter your ID: 2
Enter password: 123456
1 123456
2 123456

1 to show all details account
2 to show account balance
3 to withdraw
4 to deposit

0 to log out
---------
0
Logged Out
Create New Account? Y/N: n
Log in? Y/N: o
0 to exit the system: 0

In [113]:
account1 = Bank("Ahmed", "Male", 25, "123456")

Account Created Successfully with ID : 3!

In [114]:
print(account1)

Client's Info:
--------------
Name: Ahmed
Age: 25
Gender: Male
ID: 3
Balance: 0

In [115]:
account1.get_balance()

0

In [116]:
account1.withdraw(100)

No enough money in the account, only 0$ left!

In [117]:
account1.withdraw("k")

Only numeric values are accepted!

In [118]:
account1.deposite(9999999)

Successfully added 9999999$ to the account!

In [119]:
account1.deposite("l")

Only numeric values are accepted!

In [120]:
account1.withdraw(255)

255$ withdrawn successfully from your account, your current balance is : 9999744

In [121]:
print(account1)

Client's Info:
--------------
Name: Ahmed
Age: 25
Gender: Male
ID: 3
Balance: 9999744