<a href="https://colab.research.google.com/github/ahmedynah/Epsilon-AI/blob/main/Copy_of_05_Functions_and_Methods_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**
<p>The volume of a sphere is given as $$\frac{4}{3} Ï€r^3$$</p>

In [ ]:
from math import pi
def vol(rad):
    return (4/3) * ( pi * rad**3)

In [ ]:
# Check
vol(2)

33.510321638291124

___
**Write a function that checks whether a number is in a given range (inclusive of high and low)**

In [ ]:
def ran_check(num,low,high):
    if num in range(low, high + 1) :
      return "in range"
    else:
      "out of range"

In [ ]:
# Check
ran_check(5,2,7)

'in range'

If you only wanted to return a boolean:

In [ ]:
def ran_bool(num,low,high):
    return num in range(low, high + 1)

In [ ]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [ ]:
def up_low(s):
    up = len(list(filter(lambda x : x.isupper(), s)))
    lower = len(list(filter(lambda x : x.islower(), s)))
    return "No. of Upper case characters :  {0} No. of Lower case Characters : {1}".format(up,lower)

In [ ]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

'No. of Upper case characters :  4 No. of Lower case Characters : 33'

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [ ]:
def unique_list(lst):
    return list(set(lst))

In [ ]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [ ]:
from functools import reduce 
def multiply(numbers):  
    return reduce(lambda x, y : x*y, numbers )

In [ ]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a passed in string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [ ]:
def palindrome(s):
    return s == s[::-1]

In [ ]:
palindrome('helleh')

True

____
#### Hard:

**Write a Python function to check whether a string is pangram or not.**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

Hint: Look at the string module

In [ ]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    s = set(str1.lower())
    for i in alphabet:
      if i not in s:
        return False

    return True

In [ ]:
ispangram("The quick brown foX jumps over the lazy dog")

True

In [ ]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

#### Great Job!